<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="index.css">
  <link rel="stylesheet" href="quiz.css">
  <title>Health Quiz</title>
</head>

<body>
  <div id="main">
    <h1 id="title">Health Quiz</h1>
    <form action="/quiz" method="POST">
      <div class="mb-3 card backing-box">
        <div class="card text-dark bg-light mb-3">
          <div class="card-body">
            <h5 classs="card-title" id="mentald">How much have you mentald in the past 12 months?</h5>
            <input type="radio" value=0 id="exercise-question-0" name="exercise-question">
            <label for="exercise-question-0" >never</label><br>
            <input type="radio" value=1 id="exercise-question-1" name="exercise-question">
            <label for="exercise-question-1">1 time a week</label><br>
            <input type="radio" value=2 id="exercise-question-2" name="exercise-question">
            <label for="exercise-question-2">2 to 3 times a week</label><br>
            <input type="radio" value=3 id="exercise-question-3" name="exercise-question">
            <label for="exercise-question-3">more than 4 times a week</label><br>
          </div>
        </div>
      </div>


      <div class="mb-3 card backing-box">
        <div class="card text-dark bg-light mb-3">
          <div class="card-body">
            <h5 classs="card-title">How much have you engaged in mental activity in the past 12 months?</h5>
            <input type="radio" value=0 id="mental-question-0" name="mental-question">
            <label for="mental-question-0">never</label><br>
            <input type="radio" value=1 id="mental-question-1" name="mental-question">
            <label for="mental-question-1">1 time a week</label><br>
            <input type="radio" value=2 id="mental-question-2" name="mental-question">
            <label for="mental-question-2">2 to 3 times a week</label><br>
            <input type="radio" value=3 id="mental-question-3" name="mental-question">
            <label for="mental-question-3">more than 4 times a week</label><br>
          </div>
        </div>
      </div>


      <div class="mb-3 card backing-box">
        <div class="card text-dark bg-light mb-3">
          <div class="card-body">
            <h5 classs="card-title">How often do you drink alcohol?</h5>
            <input type="radio" value=0 id="alcohol-question-0" id="alcohol-question" name="alcohol-question">
            <label for="alcohol-question-0">never</label><br>
            <input type="radio" value=1 id="alcohol-question-1" name="alcohol-question">
            <label for="alcohol-question-1">once a month</label><br>
            <input type="radio" value=2 id="alcohol-question-2" name="alcohol-question">
            <label for="alcohol-question-2">2 to 4 times a month</label><br>
            <input type="radio" value=3 id="alcohol-question-3" name="alcohol-question">
            <label for="alcohol-question-3">2 to 3 times a week</label><br>
            <input type="radio" value=4 id="alcohol-question-3" name="alcohol-question">
            <label for="alcohol-question-3">4 times a week and more</label><br>
          </div>
        </div>
      </div>


      <div class="mb-3 card backing-box">
        <div class="card text-dark bg-light mb-3">
          <div class="card-body">
            <h5 classs="card-title">Do you smoke regularly?</h5>
            <input type="radio" value=0 id="smoke-question-0" name="smoke-question">
            <label for="smoke-question-0">no</label><br>
            <input type="radio" value=1 id="smoke-question-1" name="smoke-question">
            <label for="smoke-question-1">yes, sometimes</label><br>
            <input type="radio" value=2 id="smoke-question-2" name="smoke-question">
            <label for="smoke-question-2">yes, regularly</label><br>
          </div>
        </div>
      </div>



      <div class="mb-3 card backing-box">
        <div class="card text-dark bg-light mb-3">
          <div class="card-body">
            <h5 classs="card-title">How regular are you social interactions</h5>
            <input type="radio" value=0 id="social-question-0" name="social-question">
            <label for="social-question-0">very regular</label><br>
            <input type="radio" value=1 id="social-question-1" name="social-question">
            <label for="social-question-1">regular</label><br>
            <input type="radio" value=2 id="social-question-2" name="social-question">
            <label for="social-question-2">somewhat regular</label><br>
            <input type="radio" value=3 id="social-question-3" name="social-question">
            <label for="social-question-3">not regular</label><br>
            <input type="radio" value=4 id="social-question-4" name="social-question">
            <label for="social-question-4">somewhat irregular</label><br>
            <input type="radio" vlaue=5 id="social-question-5" name="social-question">
            <label for="social-question-5">very irregular</label><br>
          </div>
        </div>
      </div>
      <div class="mb-3 card backing-box">
        <div class="card text-dark bg-light mb-3">
          <div class="card-body">
            <h5 classs="card-title">How often do you go outside</h5>
            <input type="radio" value=0 id="going-outside-question-0" name="outside-question">
            <label for="going-outside-0">never</label><br>
            <input type="radio" value=1 id="going-outside-question-1" name="outside-question">
            <label for="going-outside-1">once a month</label><br>
            <input type="radio" value=2 id="going-outside-question-2" name="outside-question">
            <label for="going-outside-2">2 to 4 times a month</label><br>
            <input type="radio" value=3 id="going-outside-question-3" name="outside-question">
            <label for="going-outside-4">2 to 3 times a week</label><br>
            <input type="radio" value=4 id="going-outside-question-4" name="outside-question">
            <label for="going-outside-5">4 times a week and more</label><br>
          </div>
        </div>
      </div>
      <div class="mb-3 card backing-box">
        <div class="card text-dark bg-light mb-3">
          <div class="card-body">
            <h5 classs="card-title">How often you drink milk?</h5>
            <input type="radio" value=0 id="milk-question-0"  name="milk-question">
            <label for="milk-0">never</label><br>
            <input type="radio" value=1 id="milk-question-1" name="milk-question">
            <label for="milk-1">once a month</label><br>
            <input type="radio" value=2 id="milk-question-2" name="milk-question">
            <label for="milk-2">2 to 4 times a month</label><br>
            <input type="radio" value=3 id="milk-question-3" name="milk-question">
            <label for="milk-4">2 to 3 times a week</label><br>
            <input type="radio" value=4 id="milk-question-4" name="milk-question">
            <label for="milk-5">4 times a week and more</label><br>
          </div>
        </div>
      </div>
      <button type="submit" value="Submit" class="btn btn-primary">I have Learned How to be healhty!</button>
    </form>
  </div>
  </div>
  <!-- javascript assets for bootstrap -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="quiz.js"></script>
</body>                                                                                                           
</html>