<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="quiz.css">
    <title>Health Quiz</title>
  </head>
  <body>
    <div id="main">
      <h1 id="title">Health Quiz</h1>
      <div class="mb-3 card backing-box">

        
        <div class="card text-dark bg-light mb-3">
          <div class = "card-body">
            <h5 classs = "card-title">How much have you exercised in the past 12 months?</h5>
            <input type = "radio" id = "exercise-question-0" name = "exercise-question">
            <label for = "exercise-question-0"></label>never</label><br>
            <input type = "radio" id = "exercise-question-1" name = "exercise-question">
            <label for = "exercise-question-1">1 time a week</label><br>
            <input type = "radio" id = "exercise-question-2" name = "exercise-question">
            <label for = "exercise-question-2">2 to 3 times a week</label><br>
            <input type = "radio" id = "exercise-question-3" name = "exercise-question">
            <label for = "exercise-question-3">more than 4 times a week</label><br>
          </div>
        </div>
        
        


      </div>
    </div>
    <!-- javascript assets for bootstrap -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Scripts needed for webpage -->
    <script src="quiz.js"></script>
</body>
</html>