body {
    background-color: black;
}
.subheading {
    font-family: "Bangers";
    color: black;
    font-size: 2em;
}

#main {
    padding: 15%;
    margin-left: 15%;
}

#title {
    font-family: "Press Start 2P";
    color: #3dce65;
    font-size: 400%;
}

#height{
    position: absolute;
    top: 43%;
    left: 34%;
}